/* profile-form component styling */
.cancel {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.4s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.cancel:hover {
  background-color: #e53935;
}

.cancel:active {
  background-color: #c62828;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}
.save-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.4s;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.save-button:hover {
  background-color: #3e8e41;
}

.save-button:active {
  background-color: #2c6927;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transform: translateY(2px);
}
